<div class="container">
  <div class="topbar">
    <div class="row">
      <!-- Slide Nav -->
      <button
        id="slide-nav__show-btn"
        class="slide-nav__show-btn hide-from-md"
      ></button>

      <!-- Logo -->
      <a href="./" class="topbar__logo">
        <img src="./assets/icon/icon.svg" alt="" class="topbar__logo--icon" />
        <span class="topbar__logo--brand">grocerymart</span>
      </a>
      <!-- Nav Bar -->
      <nav class="topbar__nav display-from-lg">
        <ul class="topbar__nav--list">
          <li id="department-toggle" class="topbar__nav--item">
            <a href="#!" class="topbar__nav--item-link">Departments</a>
            <img
              class="topbar__nav--item-arrow"
              src="./assets/icon/arrow-icon.svg"
              alt=""
            />
          </li>
          <li id="grocery-toggle" class="topbar__nav--item">
            <a href="#!" class="topbar__nav--item-link">Grocery</a>
            <img
              class="topbar__nav--item-arrow"
              src="./assets/icon/arrow-icon.svg"
              alt=""
            />
          </li>
          <li id="beauty-toggle" class="topbar__nav--item">
            <a href="#!" class="topbar__nav--item-link">Beauty</a>
            <img
              class="topbar__nav--item-arrow"
              src="./assets/icon/arrow-icon.svg"
              alt=""
            />
          </li>
        </ul>
      </nav>

      <div id="right-nav-box" class="right-nav-box">
        <!-- Search -->
        <div class="topbar__search display-from-xl">
          <input
            class="topbar__search--input"
            type="search"
            name=""
            id="topbar__search--input"
            placeholder="Search for products"
          />
          <button id="topbar__search--btn" class="topbar__search--btn">
            <img
              src="./assets/icon/search-icon.svg"
              alt="Search Icon"
              class="topbar__search--icon search-icon"
            />
            <img
              class="topbar__search--icon cancel-icon"
              src="./assets/icon/cancel-icon.svg"
              alt=""
            />
          </button>
        </div>

        <!-- User Nav -->
        <div class="user-nav display-from-md">
          <button class="user-nav__btn">
            <img
              src="./assets/icon/heart-icon.svg"
              alt=""
              class="user-nav__btn--icon"
            />
            <span id="user-nav__btn--data" class="user-nav__btn--data">00</span>
          </button>

          <svg class="user-nav__pipe"></svg>

          <button class="user-nav__btn">
            <img
              src="./assets/icon/cart-icon.svg"
              alt=""
              class="user-nav__btn--icon"
            />
            <span class="user-nav__btn--data">$65.42</span>
          </button>
        </div>

        <!-- User Avatar -->
        <div class="user-avatar">
          <img
            src="./assets/img/avatar.jpg"
            alt="avatar"
            class="user-avatar__image"
          />
        </div>
      </div>
    </div>

    <div id="dropdown-vector" class="dropdown__vector"></div>
  </div>

  <!-- DROP DOWN -->
  <!-- DEPARTMENT -->
  <article
    id="department-dropdown"
    class="dropdown department-dropdown mega-menu-box"
  >
    <!-- MAINBOX -->
    <div class="dropdown__box all-department-dropdown-box">
      <!-- All Department -->
      <div id="all-department" class="dropdown__box--main-box"></div>
    </div>
    <!-- SUBBOX -->
    <!-- Electronic Box -->
    <div id="electronic-box" class="dropdown__box electronic-box hover-box">
      <!-- COLUMN 1 -->
      <div class="dropdown__box--sub-box">
        <!-- TV & Video -->
        <div id="tv-video" class="dropdown__box--sub-box__jar"></div>
        <!-- Wearable Technology -->
        <div id="wearable-tech" class="dropdown__box--sub-box__jar"></div>
      </div>
      <!-- COLUMN 2 -->
      <div class="dropdown__box--sub-box">
        <!-- Computer -->
        <div id="computer" class="dropdown__box--sub-box__jar"></div>
      </div>
      <!-- COLUMN 3 -->
      <div class="dropdown__box--sub-box">
        <!-- Savings -->
        <div id="savings" class="dropdown__box--sub-box__jar"></div>
        <!-- Cell Phones -->
        <div id="cell-phones" class="dropdown__box--sub-box__jar"></div>
      </div>
    </div>

    <!-- Savings & Featured Shops -->
    <div
      id="savings-featured-shops-box"
      class="dropdown__box savings-featured-shops-box hover-box"
    >
      <!-- COLUMN 1 -->
      <div class="dropdown__box--sub-box">
        <!-- Flash Deals -->
        <div id="flash-deals" class="dropdown__box--sub-box__jar"></div>
        <!-- Member Exclusives -->
        <div id="member-exclusives" class="dropdown__box--sub-box__jar"></div>
      </div>
      <!-- COLUMN 2 -->
      <div class="dropdown__box--sub-box">
        <!-- Seasonal Specials -->
        <div id="seasonal-specials" class="dropdown__box--sub-box__jar"></div>
        <!-- Trending Picks -->
        <div id="trending-picks" class="dropdown__box--sub-box__jar"></div>
      </div>
      <!-- COLUMN 3 -->
      <div class="dropdown__box--sub-box">
        <!-- Budget Finds -->
        <div id="budget-finds" class="dropdown__box--sub-box__jar"></div>
      </div>
    </div>

    <!-- Clothing, Shoes & Accessories -->
    <div
      id="clothing-shoes-accessories-box"
      class="dropdown__box clothing-shoes-accessories-box hover-box"
    >
      <!-- COLUMN 1 -->
      <div class="dropdown__box--sub-box">
        <!-- Women's Apparel -->
        <div id="womens-apparel" class="dropdown__box--sub-box__jar"></div>
      </div>
      <!-- COLUMN 2 -->
      <div class="dropdown__box--sub-box">
        <!-- Men's Apparel -->
        <div id="mens-apparel" class="dropdown__box--sub-box__jar"></div>
        <!-- Shoes -->
        <div id="shoes" class="dropdown__box--sub-box__jar"></div>
        <!-- Accessories -->
        <div id="accessories" class="dropdown__box--sub-box__jar"></div>
      </div>
      <!-- COLUMN 3 -->
      <div class="dropdown__box--sub-box">
        <!-- Kids' Clothing -->
        <div id="kids-clothing" class="dropdown__box--sub-box__jar"></div>
      </div>
    </div>

    <!-- Home, Furniture & Appliances -->
    <div
      id="home-furniture-appliances-box"
      class="dropdown__box home-furniture-appliances-box hover-box"
    >
      <!-- COLUMN 1 -->
      <div class="dropdown__box--sub-box">
        <!-- Furniture -->
        <div id="furniture" class="dropdown__box--sub-box__jar"></div>
      </div>
      <!-- COLUMN 2 -->
      <div class="dropdown__box--sub-box">
        <!-- Kitchen Appliances -->
        <div id="kitchen-appliances" class="dropdown__box--sub-box__jar"></div>
      </div>
      <!-- COLUMN 3 -->
      <div class="dropdown__box--sub-box">
        <!-- Home Decor -->
        <div id="home-decor" class="dropdown__box--sub-box__jar"></div>
        <!-- Cleaning Appliances -->
        <div id="cleaning-appliances" class="dropdown__box--sub-box__jar"></div>
        <!-- Outdoor Living -->
        <div id="outdoor-living" class="dropdown__box--sub-box__jar"></div>
      </div>
    </div>

    <!-- Toys & Video Games -->
    <div
      id="toys-video-games-box"
      class="dropdown__box toys-video-games-box hover-box"
    >
      <!-- COLUMN 1 -->
      <div class="dropdown__box--sub-box">
        <!-- Action Figures -->
        <div id="action-figures" class="dropdown__box--sub-box__jar"></div>
        <!-- Board Games -->
        <div id="board-games" class="dropdown__box--sub-box__jar"></div>
      </div>
      <!-- COLUMN 2 -->
      <div class="dropdown__box--sub-box">
        <!-- Video Games -->
        <div id="video-games" class="dropdown__box--sub-box__jar"></div>
      </div>
      <!-- COLUMN 3 -->
      <div class="dropdown__box--sub-box">
        <!-- Learning Toys -->
        <div id="learning-toys" class="dropdown__box--sub-box__jar"></div>
        <!-- Outdoor Toys -->
        <div id="outdoor-toys" class="dropdown__box--sub-box__jar"></div>
      </div>
    </div>

    <!-- Home Improvement -->
    <div
      id="home-improvement-box"
      class="dropdown__box home-improvement-box hover-box"
    >
      <!-- COLUMN 1 -->
      <div class="dropdown__box--sub-box">
        <!-- Tools -->
        <div id="tools" class="dropdown__box--sub-box__jar"></div>
      </div>
      <!-- COLUMN 2 -->
      <div class="dropdown__box--sub-box">
        <!-- Lighting -->
        <div id="lighting" class="dropdown__box--sub-box__jar"></div>
        <!-- Plumbing -->
        <div id="plumbing" class="dropdown__box--sub-box__jar"></div>
      </div>
      <!-- COLUMN 3 -->
      <div class="dropdown__box--sub-box">
        <!-- Flooring -->
        <div id="flooring" class="dropdown__box--sub-box__jar"></div>
        <!-- Painting -->
        <div id="painting" class="dropdown__box--sub-box__jar"></div>
      </div>
    </div>

    <!-- Baby -->
    <div id="baby-box" class="dropdown__box baby-box hover-box">
      <!-- COLUMN 1 -->
      <div class="dropdown__box--sub-box">
        <!-- Clothing -->
        <div id="clothing" class="dropdown__box--sub-box__jar"></div>
      </div>
      <!-- COLUMN 2 -->
      <div class="dropdown__box--sub-box">
        <!-- Feeding -->
        <div id="feeding" class="dropdown__box--sub-box__jar"></div>
      </div>
      <!-- COLUMN 3 -->
      <div class="dropdown__box--sub-box">
        <!-- Toys -->
        <div id="toys" class="dropdown__box--sub-box__jar"></div>
        <!-- Gear -->
        <div id="gear" class="dropdown__box--sub-box__jar"></div>
        <!-- Nursery -->
        <div id="nursery" class="dropdown__box--sub-box__jar"></div>
      </div>
    </div>

    <!-- Household Essentials -->
    <div
      id="household-essentials-box"
      class="dropdown__box household-essentials-box hover-box"
    >
      <!-- COLUMN 1 -->
      <div class="dropdown__box--sub-box">
        <!-- Cleaning Supplies -->
        <div id="cleaning-supplies" class="dropdown__box--sub-box__jar"></div>
        <!-- Laundry -->
        <div id="laundry" class="dropdown__box--sub-box__jar"></div>
      </div>
      <!-- COLUMN 2 -->
      <div class="dropdown__box--sub-box">
        <!-- Bathroom Supplies -->
        <div id="bathroom-supplies" class="dropdown__box--sub-box__jar"></div>
      </div>
      <!-- COLUMN 3 -->
      <div class="dropdown__box--sub-box">
        <!-- Kitchen Essentials -->
        <div id="kitchen-essentials" class="dropdown__box--sub-box__jar"></div>
        <!-- Home Organization -->
        <div id="home-organization" class="dropdown__box--sub-box__jar"></div>
      </div>
    </div>

    <!-- Personal Care -->
    <div
      id="personal-care-box"
      class="dropdown__box personal-care-box hover-box"
    >
      <!-- COLUMN 1 -->
      <div class="dropdown__box--sub-box">
        <!-- Skincare -->
        <div id="skincare" class="dropdown__box--sub-box__jar"></div>
      </div>
      <!-- COLUMN 2 -->
      <div class="dropdown__box--sub-box">
        <!-- Haircare -->
        <div id="haircare" class="dropdown__box--sub-box__jar"></div>
      </div>
      <!-- COLUMN 3 -->
      <div class="dropdown__box--sub-box">
        <!-- Oral Care -->
        <div id="oral-care" class="dropdown__box--sub-box__jar"></div>
        <!-- Bath & Body -->
        <div id="bath-body" class="dropdown__box--sub-box__jar"></div>
        <!-- Grooming -->
        <div id="grooming" class="dropdown__box--sub-box__jar"></div>
      </div>
    </div>

    <!-- Patio & Garden -->
    <div id="patio-garden-box" class="dropdown__box patio-garden-box hover-box">
      <!-- COLUMN 1 -->
      <div class="dropdown__box--sub-box">
        <!-- Outdoor Furniture -->
        <div id="outdoor-furniture" class="dropdown__box--sub-box__jar"></div>
      </div>
      <!-- COLUMN 2 -->
      <div class="dropdown__box--sub-box">
        <!-- Garden Tools -->
        <div id="garden-tools" class="dropdown__box--sub-box__jar"></div>
        <!-- Outdoor Lighting -->
        <div id="outdoor-lighting" class="dropdown__box--sub-box__jar"></div>
        <!-- Plants & Planters -->
        <div id="plants-planters" class="dropdown__box--sub-box__jar"></div>
      </div>
      <!-- COLUMN 3 -->
      <div class="dropdown__box--sub-box">
        <!-- Outdoor Décor -->
        <div id="outdoor-decor" class="dropdown__box--sub-box__jar"></div>
      </div>
    </div>

    <!-- Sports & Outdoors -->
    <div
      id="sports-outdoors-box"
      class="dropdown__box sports-outdoors-box hover-box"
    >
      <!-- COLUMN 1 -->
      <div class="dropdown__box--sub-box">
        <!-- Fitness Equipment -->
        <div id="fitness-equipment" class="dropdown__box--sub-box__jar"></div>
        <!-- Outdoor Sports -->
        <div id="outdoor-sports" class="dropdown__box--sub-box__jar"></div>
        <!-- Camping Gear -->
        <div id="camping-gear" class="dropdown__box--sub-box__jar"></div>
      </div>
      <!-- COLUMN 2 -->
      <div class="dropdown__box--sub-box">
        <!-- Water Sports -->
        <div id="water-sports" class="dropdown__box--sub-box__jar"></div>
      </div>
      <!-- COLUMN 3 -->
      <div class="dropdown__box--sub-box">
        <!-- Team Sports -->
        <div id="team-sports" class="dropdown__box--sub-box__jar"></div>
      </div>
    </div>

    <!-- Gift Cards -->
    <div id="gift-cards-box" class="dropdown__box gift-cards-box hover-box">
      <!-- COLUMN 1 -->
      <div class="dropdown__box--sub-box">
        <!-- Retail Stores -->
        <div id="retail-stores" class="dropdown__box--sub-box__jar"></div>
        <!-- Restaurants -->
        <div id="restaurants" class="dropdown__box--sub-box__jar"></div>
      </div>
      <!-- COLUMN 2 -->
      <div class="dropdown__box--sub-box">
        <!-- Entertainment -->
        <div id="entertainment" class="dropdown__box--sub-box__jar"></div>
      </div>
      <!-- COLUMN 3 -->
      <div class="dropdown__box--sub-box">
        <!-- Travel & Experiences -->
        <div id="travel-experiences" class="dropdown__box--sub-box__jar"></div>
        <!-- Specialty Stores -->
        <div id="specialty-stores" class="dropdown__box--sub-box__jar"></div>
      </div>
    </div>

    <!-- Auto, Tires and Industrial -->
    <div
      id="auto-tires-industrial-box"
      class="dropdown__box auto-tires-industrial-box hover-box"
    >
      <!-- COLUMN 1 -->
      <div class="dropdown__box--sub-box">
        <!-- Auto Parts -->
        <div id="auto-parts" class="dropdown__box--sub-box__jar"></div>
      </div>
      <!-- COLUMN 2 -->
      <div class="dropdown__box--sub-box">
        <!-- Tires -->
        <div id="tires" class="dropdown__box--sub-box__jar"></div>
      </div>
      <!-- COLUMN 3 -->
      <div class="dropdown__box--sub-box">
        <!-- Industrial Tools -->
        <div id="industrial-tools" class="dropdown__box--sub-box__jar"></div>
        <!-- Car Care -->
        <div id="car-care" class="dropdown__box--sub-box__jar"></div>
        <!-- Garage Equipment -->
        <div id="garage-equipment" class="dropdown__box--sub-box__jar"></div>
      </div>
    </div>

    <!-- Movies, Music & Books -->
    <div
      id="movies-music-books-box"
      class="dropdown__box movies-music-books-box hover-box"
    >
      <!-- COLUMN 1 -->
      <div class="dropdown__box--sub-box">
        <!-- Movies -->
        <div id="movies" class="dropdown__box--sub-box__jar"></div>
        <!-- Music -->
        <div id="music" class="dropdown__box--sub-box__jar"></div>
      </div>
      <!-- COLUMN 2 -->
      <div class="dropdown__box--sub-box">
        <!-- Books -->
        <div id="books" class="dropdown__box--sub-box__jar"></div>
      </div>
      <!-- COLUMN 3 -->
      <div class="dropdown__box--sub-box">
        <!-- TV Shows -->
        <div id="tv-shows" class="dropdown__box--sub-box__jar"></div>
        <!-- Audiobooks -->
        <div id="audiobooks" class="dropdown__box--sub-box__jar"></div>
      </div>
    </div>
  </article>

  <!-- GROCERY -->
  <article
    id="grocery-dropdown"
    class="dropdown grocery-dropdown mega-menu-box"
  >
    <!-- SUBBOX -->
    <div class="dropdown__box">
      <!-- COLUMN 1 -->
      <div class="dropdown__box--sub-box">
        <!-- Grocery -->
        <div id="grocery" class="dropdown__box--sub-box__jar"></div>
        <!-- Fresh Produce -->
        <div id="fresh-produce" class="dropdown__box--sub-box__jar"></div>
      </div>
      <!-- COLUMN 2 -->
      <div class="dropdown__box--sub-box">
        <!-- Bakery & Bread -->
        <div id="bakery-bread" class="dropdown__box--sub-box__jar"></div>
        <!-- Frozen -->
        <div id="frozen" class="dropdown__box--sub-box__jar"></div>
      </div>
      <!-- COLUMN 3 -->
      <div class="dropdown__box--sub-box">
        <!-- Snacks -->
        <div id="snacks" class="dropdown__box--sub-box__jar"></div>
        <!-- Candy -->
        <div id="candy" class="dropdown__box--sub-box__jar"></div>
      </div>
      <!-- COLUMN 4 -->
      <div class="dropdown__box--sub-box">
        <!-- Cocktails & Mixes Coffee -->
        <div
          id="cocktails-mixes-coffee"
          class="dropdown__box--sub-box__jar"
        ></div>
        <!-- Beverages -->
        <div id="beverages" class="dropdown__box--sub-box__jar"></div>
      </div>
    </div>
  </article>

  <!-- BEAUTY -->
  <article id="beauty-dropdown" class="dropdown beauty-dropdown mega-menu-box">
    <!-- SUBBOX -->
    <div class="dropdown__box">
      <!-- COLUMN 1 -->
      <div class="dropdown__box--sub-box">
        <!-- Featured Shops -->
        <div id="featured-shops" class="dropdown__box--sub-box__jar"></div>
        <!-- Trending in Beauty -->
        <div id="trending-in-beauty" class="dropdown__box--sub-box__jar"></div>
      </div>
      <!-- COLUMN 2 -->
      <div class="dropdown__box--sub-box">
        <!-- Featured Brands -->
        <div id="featured-brands" class="dropdown__box--sub-box__jar"></div>
        <!-- Communities to Support -->
        <div
          id="communities-to-support"
          class="dropdown__box--sub-box__jar"
        ></div>
      </div>
      <!-- COLUMN 3 -->
      <div class="dropdown__box--sub-box">
        <!-- Premium Beauty -->
        <div id="premium-beauty" class="dropdown__box--sub-box__jar"></div>
      </div>
      <!-- COLUMN 4 -->
      <div class="dropdown__box--sub-box">
        <!-- Beauty -->
        <div id="beauty" class="dropdown__box--sub-box__jar"></div>
      </div>
    </div>
  </article>

  <!-- NAV DRAWER -->
  <nav id="slide-nav" class="slide-nav"></nav>
</div>

<!-- LOAD DROPDOWN VECTOR HTML -->
<script>
  $(document).ready(function () {
    // Load Dropdown Vector
    $("#dropdown-vector").load("./template/dropdown-vector.html");
  });
</script>

<!-- LOAD SLIDE NAV ICON -->
<script>
  $(document).ready(function () {
    // Load Slide Nav Icon
    $("#slide-nav__show-btn").load(
      "./template/trunk/slide-nav-show-btn-icon.html"
    );
  });
</script>

<!-- LOAD DEPARTMENT -->
<script>
  $(document).ready(function () {
    /* Load All Department */
    $("#all-department").load("./template/department/all-department.html");
    /* Load TV & Video */
    $("#tv-video").load("./template/department/tv-video.html");
    /* Load Wearable Tech */
    $("#wearable-tech").load("./template/department/wearable-tech.html");
    /* Load Computer */
    $("#computer").load("./template/department/computer.html");
    /* Load Savings */
    $("#savings").load("./template/department/savings.html");
    /* Load Cellphones */
    $("#cell-phones").load("./template/department/cell-phones.html");
    /* Load Flash Deals */
    $("#flash-deals").load("./template/department/flash-deals.html");
    /* Load Member Exclusives */
    $("#member-exclusives").load(
      "./template/department/member-exclusives.html"
    );
    /* Load Seasonal Specials */
    $("#seasonal-specials").load(
      "./template/department/seasonal-specials.html"
    );
    /* Load Trending Picks */
    $("#trending-picks").load("./template/department/trending-picks.html");
    /* Load Budget Finds */
    $("#budget-finds").load("./template/department/budget-finds.html");
    /* Load Womens Apparel */
    $("#womens-apparel").load("./template/department/womens-apparel.html");
    /* Load Men Apparel */
    $("#mens-apparel").load("./template/department/mens-apparel.html");
    /* Load Shoes */
    $("#shoes").load("./template/department/shoes.html");
    /* Load Accessories */
    $("#accessories").load("./template/department/accessories.html");
    /* Load Kids Clothing */
    $("#kids-clothing").load("./template/department/kids-clothing.html");
    /* Load Furniture */
    $("#furniture").load("./template/department/furniture.html");
    /* Load Kitchen Appliances */
    $("#kitchen-appliances").load(
      "./template/department/kitchen-appliances.html"
    );
    /* Load Home Decor */
    $("#home-decor").load("./template/department/home-decor.html");
    /* Load Cleaning Appliances */
    $("#cleaning-appliances").load(
      "./template/department/cleaning-appliances.html"
    );
    /* Load Outdoor Living */
    $("#outdoor-living").load("./template/department/outdoor-living.html");
    /* Load Action Figures */
    $("#action-figures").load("./template/department/action-figures.html");
    /* Load Board Games */
    $("#board-games").load("./template/department/board-games.html");
    /* Load Video Games */
    $("#video-games").load("./template/department/video-games.html");
    /* Load Learning Toys */
    $("#learning-toys").load("./template/department/learning-toys.html");
    /* Load Outdoor Toys */
    $("#outdoor-toys").load("./template/department/outdoor-toys.html");
    /* Load Tools */
    $("#tools").load("./template/department/tools.html");
    /* Load Lighting */
    $("#lighting").load("./template/department/lighting.html");
    /* Load Plumbing */
    $("#plumbing").load("./template/department/plumbing.html");
    /* Load Flooring */
    $("#flooring").load("./template/department/flooring.html");
    /* Load Painting */
    $("#painting").load("./template/department/painting.html");
    /* Load Clothing */
    $("#clothing").load("./template/department/clothing.html");
    /* Load Feeding */
    $("#feeding").load("./template/department/feeding.html");
    /* Load Toys */
    $("#toys").load("./template/department/toys.html");
    /* Load Gear */
    $("#gear").load("./template/department/gear.html");
    /* Load Nursery */
    $("#nursery").load("./template/department/nursery.html");
    /* Load Cleaning Supplies */
    $("#cleaning-supplies").load(
      "./template/department/cleaning-supplies.html"
    );
    /* Load Laundry */
    $("#laundry").load("./template/department/laundry.html");
    /* Load Bathroom Supplies */
    $("#bathroom-supplies").load(
      "./template/department/bathroom-supplies.html"
    );
    /* Load Kitchen Essentials */
    $("#kitchen-essentials").load(
      "./template/department/kitchen-essentials.html"
    );
    /* Load Home Organization */
    $("#home-organization").load(
      "./template/department/home-organization.html"
    );
    /* Load Skincare */
    $("#skincare").load("./template/department/skincare.html");
    /* Load Haircare */
    $("#haircare").load("./template/department/haircare.html");
    /* Load Oral Care */
    $("#oral-care").load("./template/department/oral-care.html");
    /* Load Bath & Body */
    $("#bath-body").load("./template/department/bath-body.html");
    /* Load Grooming */
    $("#grooming").load("./template/department/grooming.html");
    /* Load Outdoor Furniture */
    $("#outdoor-furniture").load(
      "./template/department/outdoor-furniture.html"
    );
    /* Load Garden Tools */
    $("#garden-tools").load("./template/department/garden-tools.html");
    /* Load Outdoor Lighting */
    $("#outdoor-lighting").load("./template/department/outdoor-lighting.html");
    /* Load Plants & Planters */
    $("#plants-planters").load("./template/department/plants-planters.html");
    /* Load Outdoor Décor */
    $("#outdoor-decor").load("./template/department/outdoor-decor.html");
    /* Load Fitness Equipment */
    $("#fitness-equipment").load(
      "./template/department/fitness-equipment.html"
    );
    /* Load Outdoor Sports */
    $("#outdoor-sports").load("./template/department/outdoor-sports.html");
    /* Load Camping Gear */
    $("#camping-gear").load("./template/department/camping-gear.html");
    /* Load Water Sports */
    $("#water-sports").load("./template/department/water-sports.html");
    /* Load Team Sports */
    $("#team-sports").load("./template/department/team-sports.html");
    /* Load Retail Stores */
    $("#retail-stores").load("./template/department/retail-stores.html");
    /* Load Restaurants */
    $("#restaurants").load("./template/department/restaurants.html");
    /* Load Entertainment */
    $("#entertainment").load("./template/department/entertainment.html");
    /* Load Travel & Experiences */
    $("#travel-experiences").load(
      "./template/department/travel-experiences.html"
    );
    /* Load Specialty Stores */
    $("#specialty-stores").load("./template/department/specialty-stores.html");
    /* Load Auto Parts */
    $("#auto-parts").load("./template/department/auto-parts.html");
    /* Load Tires */
    $("#tires").load("./template/department/tires.html");
    /* Load Industrial Tools */
    $("#industrial-tools").load("./template/department/industrial-tools.html");
    /* Load Car Care */
    $("#car-care").load("./template/department/car-care.html");
    /* Load Garage Equipment */
    $("#garage-equipment").load("./template/department/garage-equipment.html");
    /* Load Movies */
    $("#movies").load("./template/department/movies.html");
    /* Load Music */
    $("#music").load("./template/department/music.html");
    /* Load Books */
    $("#books").load("./template/department/books.html");
    /* Load TV Shows */
    $("#tv-shows").load("./template/department/tv-shows.html");
    /* Load Audiobooks */
    $("#audiobooks").load("./template/department/audiobooks.html");
  });
</script>

<!-- LOAD GROCERY -->
<script>
  $(document).ready(function () {
    $("#grocery").load("./template/grocery/grocery.html");
    $("#fresh-produce").load("./template/grocery/fresh-produce.html");
    $("#bakery-bread").load("./template/grocery/bakery-bread.html");
    $("#frozen").load("./template/grocery/frozen.html");
    $("#snacks").load("./template/grocery/snacks.html");
    $("#candy").load("./template/grocery/candy.html");
    $("#cocktails-mixes-coffee").load(
      "./template/grocery/cocktails-mixes-coffee.html"
    );
    $("#beverages").load("./template/grocery/beverages.html");
  });
</script>

<!-- LOAD BEAUTY -->
<script>
  $(document).ready(function () {
    $("#featured-shops").load("./template/beauty/featured-shops.html");
    $("#trending-in-beauty").load("./template/beauty/trending-in-beauty.html");
    $("#featured-brands").load("./template/beauty/featured-brands.html");
    $("#communities-to-support").load(
      "./template/beauty/communities-to-support.html"
    );
    $("#premium-beauty").load("./template/beauty/premium-beauty.html");
    $("#beauty").load("./template/beauty/beauty.html");
  });
</script>

<script>
  /*Active Search Bar*/
  document.addEventListener("DOMContentLoaded", hideShowSearchBtn());
</script>

<!-- DROPDOWN TOGGLE -->
<script>
  $(document).ready(function () {
    function hideSubBoxes() {
      $(".hover-box").hide();
    }
    function hideMegaBoxes() {
      $(".mega-menu-box").hide();
    }

    /*Dropdown Vector*/
    $(".topbar__nav--item").on("mouseover", function () {
      $("#dropdown-vector").css("display", "block");
    });
    $(".dropdown").on("mouseleave", function () {
      $("#dropdown-vector").hide();
    });
    $(".dropdown").on("mouseleave", function () {
      $(".dropdown").hide();
    });

    /*Department*/
    $("#department-toggle").on("mouseover", function () {
      hideSubBoxes();
      hideMegaBoxes();
      $("#department-dropdown").css("display", "flex").fadeIn("slow");
    });

    /*Grocery*/
    $("#grocery-toggle").on("mouseover", function () {
      hideMegaBoxes();
      $("#grocery-dropdown").css("display", "block").fadeIn("slow");
    });

    /*Beauty*/
    $("#beauty-toggle").on("mouseover", function () {
      hideMegaBoxes();
      $("#beauty-dropdown").css("display", "block").fadeIn("slow");
    });
  });
</script>

<!-- Update Cart -->
<script>
  document.addEventListener("DOMContentLoaded", addItemToCart());
</script>
