<div
  id="slide-nav-savings-featured-shops-toggle"
  class="slide-nav__field--nav-box__main-list__toggle"
>
  <span class="slide-nav__field--nav-box__main-list__toggle--text"
    >Savings & Featured Shops</span
  >
  <svg
    class="slide-nav__field--nav-box__main-list__toggle--icon"
    width="6"
    height="10"
    viewBox="0 0 6 10"
    fill="none"
    xmlns="http://www.w3.org/2000/svg"
  >
    <path
      d="M1.25 1.5L4.75 5L1.25 8.5"
      stroke="currentColor"
      stroke-width="1.5"
      stroke-linecap="round"
      stroke-linejoin="round"
    />
  </svg>
</div>

<div
  id="slide-nav-savings-featured-shops-box"
  class="slide-nav__field--nav-box__sub-list"
>
  <div
    id="slide-nav-flash-deals"
    class="slide-nav__field--nav-box__sub-list--jar"
  ></div>
  <div
    id="slide-nav-member-exclusives"
    class="slide-nav__field--nav-box__sub-list--jar"
  ></div>
  <div
    id="slide-nav-seasonal-specials"
    class="slide-nav__field--nav-box__sub-list--jar"
  ></div>
  <div
    id="slide-nav-trending-picks"
    class="slide-nav__field--nav-box__sub-list--jar"
  ></div>
  <div
    id="slide-nav-budget-finds"
    class="slide-nav__field--nav-box__sub-list--jar"
  ></div>
</div>

<script>
  $(document).ready(function () {
    $("#slide-nav-flash-deals").load("./template/department/flash-deals.html");
    $("#slide-nav-member-exclusives").load(
      "./template/department/member-exclusives.html"
    );
    $("#slide-nav-seasonal-specials").load(
      "./template/department/seasonal-specials.html"
    );
    $("#slide-nav-trending-picks").load(
      "./template/department/trending-picks.html"
    );
    $("#slide-nav-budget-finds").load(
      "./template/department/budget-finds.html"
    );
  });
</script>

<script>
  $(document).ready(function () {
    $("#slide-nav-savings-featured-shops-toggle").on("click", function () {
      if (
        $("#slide-nav-savings-featured-shops-box").css("display") === "none"
      ) {
        $("#slide-nav-savings-featured-shops-box").css("display", "flex");
      } else {
        $("#slide-nav-savings-featured-shops-box").css("display", "none");
      }
    });
  });
</script>
