<div
  id="slide-nav-toys-video-games-toggle"
  class="slide-nav__field--nav-box__main-list__toggle"
>
  <span class="slide-nav__field--nav-box__main-list__toggle--text"
    >Toys & Video Games</span
  >
  <svg
    class="slide-nav__field--nav-box__main-list__toggle--icon"
    width="6"
    height="10"
    viewBox="0 0 6 10"
    fill="none"
    xmlns="http://www.w3.org/2000/svg"
  >
    <path
      d="M1.25 1.5L4.75 5L1.25 8.5"
      stroke="currentColor"
      stroke-width="1.5"
      stroke-linecap="round"
      stroke-linejoin="round"
    />
  </svg>
</div>

<div
  id="slide-nav-toys-video-games-box"
  class="slide-nav__field--nav-box__sub-list"
>
  <div
    id="slide-nav-action-figures"
    class="slide-nav__field--nav-box__sub-list--jar"
  ></div>
  <div
    id="slide-nav-board-games"
    class="slide-nav__field--nav-box__sub-list--jar"
  ></div>
  <div
    id="slide-nav-video-games"
    class="slide-nav__field--nav-box__sub-list--jar"
  ></div>
  <div
    id="slide-nav-learning-toys"
    class="slide-nav__field--nav-box__sub-list--jar"
  ></div>
  <div
    id="slide-nav-outdoor-toys"
    class="slide-nav__field--nav-box__sub-list--jar"
  ></div>
</div>

<script>
  $(document).ready(function () {
    $("#slide-nav-action-figures").load(
      "./template/department/action-figures.html"
    );
    $("#slide-nav-board-games").load("./template/department/board-games.html");
    $("#slide-nav-video-games").load("./template/department/video-games.html");
    $("#slide-nav-learning-toys").load(
      "./template/department/learning-toys.html"
    );
    $("#slide-nav-outdoor-toys").load(
      "./template/department/outdoor-toys.html"
    );
  });
</script>

<script>
  $(document).ready(function () {
    $("#slide-nav-toys-video-games-toggle").on("click", function () {
      if ($("#slide-nav-toys-video-games-box").css("display") === "none") {
        $("#slide-nav-toys-video-games-box").css("display", "flex");
      } else {
        $("#slide-nav-toys-video-games-box").css("display", "none");
      }
    });
  });
</script>
