%alignmentBox {
  display: flex;
  align-items: center;
}

%centerAlignedBox {
  display: flex;
  align-items: center;
  justify-content: center;
}

%columnFlex {
  display: flex;
  flex-direction: column;
}

%isRelatived {
  position: relative;
}

%isAbsoluted {
  position: absolute;
}
