<div id="slide-nav-beauty-toggle" class="slide-nav__field--nav-box__toggle">
  <span class="slide-nav__field--nav-box__toggle--label">Beauty</span>
  <svg
    id="slide-nav-beauty-toggle-icon"
    class="slide-nav__field--nav-box__toggle--icon"
    width="6"
    height="10"
    viewBox="0 0 6 10"
    fill="none"
    xmlns="http://www.w3.org/2000/svg"
  >
    <path
      d="M1.25 1.5L4.75 5L1.25 8.5"
      stroke="currentColor"
      stroke-width="1.5"
      stroke-linecap="round"
      stroke-linejoin="round"
    />
  </svg>
</div>
<div id="slide-nav-beauty-box" class="slide-nav__field--nav-box__list">
  <div
    id="slide-nav__featured-shops--jar"
    class="slide-nav__Field--nav-box__list--jar"
  ></div>
  <div
    id="slide-nav__trending-in-beauty--jar"
    class="slide-nav__Field--nav-box__list--jar"
  ></div>
  <div
    id="slide-nav__featured-brands--jar"
    class="slide-nav__Field--nav-box__list--jar"
  ></div>
  <div
    id="slide-nav__communities-to-support--jar"
    class="slide-nav__Field--nav-box__list--jar"
  ></div>
  <div
    id="slide-nav__premium-beauty--jar"
    class="slide-nav__Field--nav-box__list--jar"
  ></div>
  <div
    id="slide-nav__beauty--jar"
    class="slide-nav__Field--nav-box__list--jar"
  ></div>
</div>

<script>
  $(document).ready(function () {
    $("#slide-nav__featured-shops--jar").load(
      "./template/beauty/featured-shops.html"
    );
    $("#slide-nav__trending-in-beauty--jar").load(
      "./template/beauty/trending-in-beauty.html"
    );
    $("#slide-nav__featured-brands--jar").load(
      "./template/beauty/featured-brands.html"
    );
    $("#slide-nav__communities-to-support--jar").load(
      "./template/beauty/communities-to-support.html"
    );
    $("#slide-nav__premium-beauty--jar").load(
      "./template/beauty/premium-beauty.html"
    );
    $("#slide-nav__beauty--jar").load("./template/beauty/beauty.html");
  });
</script>

<script>
  $(document).ready(function () {
    $("#slide-nav-beauty-toggle").on("click", function () {
      if ($("#slide-nav-beauty-box").css("display") === "none") {
        $("#slide-nav-beauty-box").css("display", "flex");
        $("#slide-nav-beauty-toggle-icon").css("transform", "rotate(90deg)");
      } else {
        $("#slide-nav-beauty-box").css("display", "none");
        $("#slide-nav-beauty-toggle-icon").css("transform", "none");
      }
    });
  });
</script>
