@use "../utils/" as utils;
@use "../base/" as base;
@use "../components/" as compo;
@use "../themes" as themes;

.topbar {
  @extend %isRelatived;
  background-color: var(--first-background-color);
  padding-top: 3rem;
  padding-bottom: 3rem;

  @include utils.maxScreenSize(sm) {
    padding: 1.6rem;
  }

  .dropdown__vector {
    @extend %isAbsoluted;
    width: 3.01rem;
    height: 2.3rem;
    display: none;
    bottom: -3.3rem;
    z-index: 9;
    color: var(--second-background-color);
    filter: drop-shadow();
    // transform: translateX(-50%);
    .dropdown__vector--icon {
    }
  }

  .row {
    @extend %alignmentBox;
    /* Slide Nav */
    .slide-nav__show-btn {
      cursor: pointer;
      width: 2.4rem;
      height: 2.4rem;
      @extend %centerAlignedBox;
      .slide-nav__show-btn--icon {
        color: var(--fourth-background-color);
      }
    }
    /* Top Bar Logo */
    .topbar__logo {
      display: flex;
      justify-content: space-between;
      width: 19rem;
      height: 3.2rem;

      @include utils.maxScreenSize(sm) {
        width: 15.1rem;
        height: 2.6rem;
      }

      .topbar__logo--icon {
        width: 3.2rem;
        height: 3.2rem;

        @include utils.maxScreenSize(sm) {
          width: 2.4rem;
          height: 2.4rem;
        }
      }

      .topbar__logo--brand {
        @extend %alignmentBox;
        color: var(--first-typo-color);
        font-size: 2.2rem;
        font-weight: 700;
        line-height: 3.2rem; /* 145.455% */

        @include utils.maxScreenSize(sm) {
          @include base.bold-eightteen-font;
        }
      }
    }
    /* Top Bar Nav */
    .topbar__nav {
      user-select: none;
      margin-left: 14.4rem;
      .topbar__nav--list {
        @extend %alignmentBox;
        gap: 3rem;
        .topbar__nav--item {
          @extend %alignmentBox;
          gap: 0.6rem;
          height: 5rem;

          &.department {
            background-color: green;
          }

          .topbar__nav--item-link {
            @extend %alignmentBox;
            height: 100%;
            color: var(--first-typo-color);
            @extend %medium-fifteen-font;
          }

          .topbar__nav--item-arrow {
            cursor: pointer;
            transform: translateY(35%);
            filter: var(--icon);
          }
        }
      }

      @include utils.maxScreenSize(xl) {
        margin-left: auto;
      }
    }

    .right-nav-box {
      @extend %alignmentBox;
      margin-left: auto;
      gap: 2rem;

      @include utils.maxScreenSize(md) {
        margin-left: initial;
      }

      /* Top Bar Search*/

      .topbar__search {
        user-select: none;
        @extend %alignmentBox;
        border-radius: 0.6rem;
        background-color: var(--second-background-color);
        gap: 1rem;
        .topbar__search--input {
          display: none;
          outline: none;
          background: none;
          color: var(--first-typo-color);
          width: auto;
          @extend %medium-fifteen-font;

          padding-left: 1.4rem;

          &::placeholder {
            color: var(--search-input-color);
            @extend %regular-fifteen-font;
          }

          &::-webkit-search-cancel-button {
            display: none;
          }
        }
        .topbar__search--btn {
          @extend %centerAlignedBox;
          @extend %nav-btn;
          width: 5rem;
          height: 5rem;
          .search-icon {
          }
          .cancel-icon {
            display: none;
          }
        }
      }

      .user-nav {
        height: 5rem;
        padding: 1rem 2rem;
        @extend %alignmentBox;
        @extend %nav-btn;
        gap: 2rem;
        .user-nav__btn {
          @extend %alignmentBox;
          gap: 1rem;
          @extend %nav-btn;
          .user-nav__btn--icon {
          }
        }
        .user-nav__pipe {
          width: 0.1rem;
          height: 3rem;
          background-color: #ededf6;
        }
      }

      .user-avatar {
        width: 5rem;
        height: 5rem;
        border-radius: 0.8rem;
        overflow: hidden;
        box-shadow: 0px 4px 14px 2px rgba(0, 0, 0, 0.08);
        .user-avatar__image {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
    }

    @include utils.maxScreenSize(xl) {
      justify-content: space-between;
    }
  }
}
