@use "../base/" as base;
@use "../utils/" as utils;

%slideThumb {
  user-select: none;
  width: 0.6rem;
  height: 0.6rem;
  border-radius: 50%;
  background-color: var(--slide-primary-color);
  outline: 0.4rem solid;
  outline-color: var(--slide-secondary-color);
  cursor: pointer;
}
