/*DARK*/

html.dark {
  /*ICON*/
  --icon: brightness(0) saturate(100%) invert(95%) sepia(100%) saturate(0%)
    hue-rotate(103deg) brightness(106%) contrast(105%);
  --slide-nav-icon: brightness(0) saturate(100%) invert(98%) sepia(1%)
    saturate(834%) hue-rotate(190deg) brightness(80%) contrast(81%);
  --top-bar-icon-shadow: 0px 20px 60px 10px rgba(0, 0, 0, 0.2);
  --filter-icon: brightness(0) saturate(100%) invert(100%) sepia(98%)
    saturate(2%) hue-rotate(327deg) brightness(117%) contrast(100%);
  --dropdown-box-shadow: 0px 40px 90px 20px rgba(23, 28, 40, 0.4);
  --dropdown-icon-color: #f8f8fb;
  --side-categories-box-shadow: 0px 20px 60px 10px rgba(0, 0, 0, 0.2);
  --size-field-select-background: url(data:image/svg+xml,%3Csvg%20width%3D%22100%25%22%20height%3D%22100%25%22%20viewBox%3D%220%200%20129%2025%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20d%3D%22M124%209L117%2016L110%209%22%20stroke%3D%22%23FFFFFF%22%20stroke-width%3D%221.5%22%20stroke-linecap%3D%22round%22%20stroke-linejoin%3D%22round%22%2F%3E%3C%2Fsvg%3E);
  --weight-field-select-background: url(data:image/svg+xml,%3Csvg%20width%3D%22100%25%22%20height%3D%22100%25%22%20viewBox%3D%220%200%2083%2025%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20d%3D%22M78%209L71%2016L64%209%22%20stroke%3D%22%23ffffff%22%20stroke-width%3D%221.5%22%20stroke-linecap%3D%22round%22%20stroke-linejoin%3D%22round%22%2F%3E%3C%2Fsvg%3E);

  /*ITEM*/
  --product-item-box-shadow: 0px 20px 60px 10px rgba(0, 0, 0, 0.2);
  --product-filter-box-shadow: 0px 40px 90px rgba(0, 0, 0, 0.4);
  --slide-nav-box-shadow: 0px 40px 90px 20px rgba(23, 28, 40, 0.4);

  /*BACKGROUND*/
  --main-background-color: #292e39;
  --first-background-color: #171c28;
  --second-background-color: #292e39;
  --third-background-color: #171c28;
  --fourth-background-color: #ffffff;
  --fifth-background-color: #171c28;

  /*TYPO*/
  --first-typo-color: #ffffff;
  --second-typo-color: #ffffff;
  --third-typo-color: #9e9da8;
  --fourth-typo-color: #ffffff;
  --fifth-typo-color: #b9babe;
}
