html {
  --slide-primary-color: #77dae6;
  --slide-secondary-color: white;
  --category-product-color: #9e9da8;
  --dropdown-hover-color: #0071dc;
  --product-line-color: #d2d1d6;
  --product-filter-color: #ffb700;
  --product-separator-color: #eee;
  --unchecked-tag-label-color: #9e9da8;
  --checked-tag-label-color: #1a162e;
  --search-input-color: #9e9da8;
  --product-filter-btn-text-color: #1a162e;
}
